* {
	text-align: center;
}

h1 {
	color: #aa1212;
	font-family: "Gill Sans";
	background-color: #ffffff;
	opacity: 0.75;
	border: 5px white solid;
	border-radius: 10px;
	width: 400px;
	margin: auto;
	padding: 5px;
}

body {
	background-image: url("https://i.pinimg.com/originals/33/ac/db/33acdb7e6fe8424fbb8ea273674c745c.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

img, iframe {
	border: 10px gray solid;
	border-radius: 10px;
	width: 640px;
	height: 320px;
}

h2 {
	font-family: "Arial";
	color: #eeeeee;
}

img {
	margin-right: 10px;
}

iframe {
	margin-left: 10px;
}

a {
	text-decoration: none;
	font-family: Arial;
	color: #ffffff;
}

a:hover {
	font-weight: bold;
}

#push-left {
	margin: 0px 280px;
}

#push-right {
	margin: 0px 280px;
}

#long {
	width: 583px;
	height: 210px;
	text-align: center;
}